@inject TimeLineController TimeLineController
@using EventHorizon.src.TimeLine

<div class="timeline-control-container">
    <button class="btn btn-outline-primary" @onclick="()=> SetPlayState(TimeLinePlayState.Pause)" disabled="@IsCurrentState(TimeLinePlayState.Pause)">
        <span class="oi oi-media-pause" aria-hidden="true"></span>
    </button>
    <button class="btn btn-outline-primary" @onclick="()=> SetPlayState(TimeLinePlayState.Play)" disabled="@IsCurrentState(TimeLinePlayState.Play)">
        <span class="oi oi-media-play" aria-hidden="true"></span>
    </button>
    <button class="btn btn-outline-primary" @onclick="()=> SetPlayState(TimeLinePlayState.X2)" disabled="@IsCurrentState(TimeLinePlayState.X2)">
        2x
    </button>
    <button class="btn btn-outline-primary" @onclick="()=> SetPlayState(TimeLinePlayState.X5)" disabled="@IsCurrentState(TimeLinePlayState.X5)">
        5x
    </button>
    <button class="btn btn-outline-success" @onclick="SkipToNextEvent" disabled="@(TimeLineController.TimeLineEvents.Count == 0)">
        <span class="oi oi-media-skip-forward" aria-hidden="true"></span> Next Event
    </button>
</div>

@code {
    private void SetPlayState(TimeLinePlayState state)
    {
        TimeLineController.SetPlayState(state);
    }

    private bool IsCurrentState(TimeLinePlayState state)
    {
        return TimeLineController.CurrentPlayState == state;
    }

    private void SkipToNextEvent()
    {
        TimeLineController.SkipToNextEvent();
    }
}